.radio-button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid #ced4da;
    background-color: #ced4da0e;
    padding:5px;
    margin: 5px;
    width: 45%;
    max-width: 400px;
    align-items: center;
    border-radius: 5px;
}

.radios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center ;
}