.sidebar {
    height: 100%;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(35, 58, 66);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: aliceblue;
    
}
    
.sidebar div {
    /*padding: 8px 8px 8px 30px;*/
    padding-top: 8px;
    padding-left: 10%;
    font-size: 24px;
    
    transition: 0.5s;
    cursor: pointer;
}
    
.sidebar #sidebar-btn {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 36px;
}
    
#main {
    transition: margin-left .5s;
    margin-left: 9%;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    
}
.sidebar-text {
    display: none;
    
}
.sidebar a {
    text-decoration: none;
    color: aliceblue;
}

.sidebar-item img {
    width: 30px;
    height: 30px;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
}

