.small-input {
    width: 100px;
    margin: auto;
}

.error {
    color: rgba(255, 0, 0, 0.76);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.edit_button {
    margin: 5px;
    background: url(../img/edit.png) left no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    border: none;

}
.del_button {
    margin: 5px;
    background: url(../img/trash.png) left no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    border: none;

}

.del_button:hover, .edit_button:hover {
    border: 1px solid gray;
    border-radius: 5px;
}

.export_but {
    margin: 5px;
}

.hidden {
    display: none;
}

.workspace-row{
  display: flex;
  flex-direction: row;
}
.workspace-col{
  display: flex;
  flex-direction: column;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar-container{
  width: 10%;
}

.item img {
  width : 33%;
  max-width: 30px;
  
}

/*.item label,.item select{
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compute-button{
  /*width: 120px;*/
  padding: 5px;
}

.input-unit{
  color:#495057;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  /*height: 15px;*/
}

.input-unit input{
  border: 1px solid #ced4da;
  width:60%;
  margin: 0;
  border-radius:0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  padding: 10px;
  padding-bottom: 8px;
  padding-top: 11px;
}

.input-unit span{
  border: 1px solid #ced4da;
  width:20%;
  margin: 0;
  margin-left:-1px;
  margin-top:1px;
  border-radius:0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #e9ecef;
  padding: 5px;
}

select{
  border: 1px solid #ced4da;
  border-radius:0.25rem;
  background-color: #e9ecef;
  padding: 5px;
  min-width:100px;
}